.quick-links {
  left: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(to right, #008793, #a8eb12);
  & ul {
    display: inline-flex;
    margin: 30px auto;
    text-align: center;
  }
  & ul li {
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
  }
  & ul li .fa {
    font-size: 25px;
    color: white;
  }
  & ul li p {
    margin-top: 15px;

    color: white;
  }
}

.social-icons {
  right: 72px;
  bottom: 35px;
  position: absolute;
  & ul li {
    list-style: none;
    margin-top: 15px;
    text-align: center;
  }
  & ul li a {
    color: white;
    // border-radius: 50%;
    // border: 1px solid white;
    padding: 5px;
    display: block;
  }
}
